.content-decoration-state > h2{
  color: #fff;
  font-size: 42px;
  z-index: 2;
}

.content-decoration-state{
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/doctor-7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  border-radius: 9px;
}

.content-decoration-state::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 9px;
    background-image: linear-gradient( 135deg, rgba(255, 111, 216, 0.2) 0%, rgba(56, 19, 194, 0.7) 100%);
}

.heading{
  text-align: center;
  margin: 10px auto;
}

.paragraph{
  max-width: 1300px;
}

.paragraph{
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  text-align: center;
}

.paragraph p{
  width: 100%;
}

.parag{
  margin: 20px 0;
}

@media screen and (max-width: 480px) {
  section{
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  footer *{
    display: flex;
    flex-direction: column;
    margin: auto 5px;
  }
}
